<div class="container-fluid">
  <header class="pt-3 pb-2 px-5">
    <a href="/" class="ps-2">
      <img src="/logo.png" />
    </a>
  </header>
  <nav class="pb-2 px-5 border-bottom">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between ">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 font-header">
        <li><a href="/tra-cuu" class="nav-link pe-4 link-secondary">Tra cứu chứng chỉ</a></li>
        <li><a href="/qrscan" class="nav-link pe-4 link-dark">QRscan</a></li>
        <% if (typeof currentUser != "undefined" ) { %>
          <% if (currentUser.account_type == "admin" ) { %>
          <li><a href="/admin" class="nav-link pe-4 link-dark">Quản lý</a></li>
          <% }else %>
          <% if (currentUser.account_type == "issuer" ) { %>
          <li><a href="/issuer" class="nav-link pe-4 link-dark">Quản lý</a></li>
          <% }else %>
          <% if (currentUser.account_type == "student" ) { %>
          <li><a href="/student" class="nav-link pe-4 link-dark">Sinh viên</a></li>
          <% }else %>
          <% if (currentUser.account_type == "school" ) { %>
          <li><a href="/school" class="nav-link pe-4 link-dark">Quản lý</a></li>
          <% } %>
        <% } %>
      </ul>
      <ul class="nav">
        <li>
        <% if (typeof currentUser == "undefined" ) { %>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal"> Đăng nhập </button>
        <a class="btn btn-primary" href="/signup"> Đăng ký </a>
          <% }else{ %>
            <a class="btn btn-warning" href="/logout">Đăng xuất</a>
          <% } %></li>
      </ul>
    </div>
  </nav>
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/login" method="POST">
      <div class="modal-body">
          <div class="mb-3">
            <label for="username" class="form-label">Tên đăng nhập</label>
            <input type="text" class="form-control" name="username" />
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" name="password" />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </div>
      </form>
    </div>
  </div>
</div>