<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="/cert-search" class="nav-link px-2 link-dark">Tra cứu chứng chỉ</a></li>
      <li><a href="/qrscan" class="nav-link px-2 link-dark">QRscan</a></li>
      <li><a href="/nhap-chung-chi" class="nav-link px-2 link-dark">Nhập chứng chỉ</a></li>
      <% if (typeof currentUser != "undefined" ) { %>
        <% if (currentUser.account_type == "admin" ) { %>
        <li><a href="/admin" class="nav-link px-2 link-dark">Quản lý ứng dụng</a></li>
        <% }else %>
        <% if (currentUser.account_type == "student" ) { %>
        <li><a href="/admin" class="nav-link px-2 link-dark">Sinh viên</a></li>
        <% }else %>
        <% if (currentUser.account_type == "school" ) { %>
        <li><a href="/school" class="nav-link px-2 link-dark">Quản lý</a></li>
        <% } %>
      <% } %>
    </ul>

    <div class="col-md-3">
      <% if (typeof currentUser == "undefined" ) { %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal"> Đăng nhập </button>
      <!-- Modal -->
      <div class="modal fade" id="loginModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/login" method="POST">
            <div class="modal-body">
                <div class="mb-3">
                  <label for="username" class="form-label">Tên đăng nhập</label>
                  <input type="text" class="form-control" name="username" />
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label">Mật khẩu</label>
                  <input type="password" class="form-control" name="password" />
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" href="/signup"> Đăng ký </a>
      <% }else{ %>
        <a class="btn btn-warning" href="/logout">Đăng xuất</a>
      <% } %>
    </div>
  </header>
</div>
