<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nhập chứng chỉ mới</title>
  <%- include('../layouts/styles'); %>
</head>

<body>
  <%- include('../../partials/header') %>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%- include('../partials/sidebar') %>
      </div>
      <div class="col bg-white p-3">
        <h4 class="pb-3 border-bottom">NHẬP CHỨNG CHỈ MỚI</h4>
        <form action="/issuer/certificate/create" method="POST" >
          <div class="mb-3 row">
            <label for="number"  class="col-sm-2">Số hiệu</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="number" name="number" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="cert_name"   class="col-sm-2">Tên chứng chỉ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="cert_name" name="cert_name" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="cert_kind" class="col-sm-2">Loại</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="cert_kind" name="cert_kind" />
            </div>
          </div>
          <h6 class="ps-3 pb-2 border-start">THÔNG TIN NGƯỜI NHẬN CHƯNG CHỈ</h6>
          <div class="mb-3 row">
            <label for="student_name"   class="col-sm-2">Họ tên</label>
            <div class="col-sm-10">

            <input type="text" class="form-control" id="student_name" name="student_name" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="student_gender"   class="col-sm-2">Giới tính</label>
            <div class="col-sm-10">

            <input type="text" class="form-control" id="student_gender" name="student_gender" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="student_dayofbirth"   class="col-sm-2">Ngày sinh</label>
            <div class="col-sm-10">

            <input type="text" class="form-control" id="student_dayofbirth" name="student_dayofbirth" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="student_placeofbirth"   class="col-sm-2">Nơi sinh</label>
            <div class="col-sm-10">

            <input type="text" class="form-control" id="student_placeofbirth" name="student_placeofbirth" />
            </div>
          </div>
          <h6 class="ps-3 pb-2 border-start">KẾT QUẢ KHOÁ HỌC</h6>
          <div class="mb-3 row">
            <label for="course_name"   class="col-sm-2">Tên khoá học</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="course_name" name="course_name" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="duration"   class="col-sm-2">Thời gian đào tạo</label>
            <div class="col-sm-10">

            <input type="text" class="form-control" id="duration" name="duration" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="testday"   class="col-sm-2">Ngày kiểm tra</label>
            <div class="col-sm-10">

            <input type="text" class="form-control" id="testday" name="testday" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="classification"   class="col-sm-2">Xếp loại</label>
            <div class="col-sm-10">

            <input type="text" class="form-control" id="classification" name="classification" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="signday"   class="col-sm-2">Ngày ký</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="signday" name="signday" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="regno"   class="col-sm-2">Số vào sổ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="regno" name="regno" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="director"   class="col-sm-2">Giám đốc</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="director" name="director" />
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Tạo chứng chỉ</button>
        </form>
      </div>
    </div>
  </div>
  <%- include('../layouts/scripts.ejs'); %>
</body>

</html>