<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <%- include('./layouts/styles.ejs')%>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/alert.ejs') %>

  <div class="container">
    <div class="row">
      <div class="col">
        <form method="POST" action="/cert-search">
          <div class="mp-3">
            <label class="form-label">Nhập số chứng chỉ hoặc hash của chứng chỉ</label>
            <input type=text class="form-control" name="data"/>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Tìm</button>
        </form>
      </div>
    </div>
  </div>

  <%- include('./layouts/scripts.ejs') %>
  <script type="module">
    import QrScanner from 'path/to/qr-scanner.min.js';
    // do something with QrScanner

  </script>

</body>
</html>