<div class="modal fade modal-dialog-centered" id="certModal" tabindex="-1" aria-labelledby="certModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" style="background-image: url('/certificate-bg-2.png'); background-size: 100% 100%;">
        <div class="row mt-5 my-3" id="cert_template">
          <div class="mb-3 text-center" >
            Thông tin về
          </div>
          <div class="mb-3 text-center" >
            <span id="c-cert_name" class="cert_title"></span>
          </div>
          <div class="mb-3 text-center" >
            của
          </div>
          <div class="mb-3 text-center">
            <span id="c-student_name"></span>
          </div>
          <div class="mb-3 text-center">
            Giới tính: <span id="c-student_gender"></span>-Ngày sinh: <span id="c-student_dayofbirth"></span>-Nơi sinh: <span id="c-student_placeofbirth"></span>
          </div>
          <div class="mb-3 text-center">
            Ngày kiểm tra: <span id="c-testday"></span>
          </div>
          <div class="mb-3 text-center">
            Ngày ký: <span id="c-signday"></span>
          </div>
          <div class="mb-3 text-center">
            Số hiệu: <span id="c-number"></span>-Số vào sổ: <span id="c-regno"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>