<div class="flex-shrink-0 w-100 h-100">
  <ul style="list-style-type: none; padding: 0;" class= "pt-3 fw-bold">
    <li class="mb-1">
      <a href="/issuer/cert" style="text-decoration: none; color:black" class="sidebar-item text-start p-2 ps-3 <%= (page == "cert")? "sidebar-item-active": "" %>">
        <i class="fas fa-certificate" style="width: 30px; text-align: center;font-size: 22px;"></i>
        <span class="ps-3">Chứng chỉ</span>
      </a>
    </li>
    <li class="mb-1">
      <a href="/issuer/cert/create-by-excel" style="text-decoration: none; color:black" class="sidebar-item text-start p-2 ps-3 <%= (page == "create-by-excel")? "sidebar-item-active": "" %>">
        <i class="fas fa-file-excel" style="width: 30px; text-align: center;font-size: 22px;"></i>
        <span class="ps-3">Nhập bằng excel</span>
      </a>
    </li>
    <li class="mb-1">
      <a href="/issuer/cert/create" style="text-decoration: none; color:black" class="sidebar-item text-start p-2 ps-3 <%= (page == "create")? "sidebar-item-active": "" %>">
        <i class="fas fa-align-left" style="width: 30px; text-align: center;font-size: 22px;"></i>
        <span class="ps-3">Nhập bằng biểu mẫu</span>
      </a>
    </li>
  </ul>
</div>