<div class="col-2 sidebar p-2">
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a href="/admin/degree/">Văn bằng</a>
</li>
<li class="nav-item">
    <a href="/admin/certificate/">Chứng chỉ</a>
</li>
</div>