<nav class="navbar navbar-dark bg-dark ">
  <div class="container-fluid d-flex flex-row">
    <a class="navbar-brand">Quản lý ứng dụng</a>
    <a class="btn btn-warning" href="/logout">Huỷ kết nối</a>
  </div>
</nav>