<nav class="navbar navbar-dark bg-dark p-0" id="header">
  <div class="container-fluid d-flex flex-row px-3 py-1">
    <a class="navbar-brand">Quản lý ứng dụng</a>
    <a class="btn btn-sm btn-warning" href="/logout">Huỷ kết nối</a>
  </div>
</nav>