<div class="flex-shrink-0 bg-light bg-gradient ps-3 w-100 sidebar shadow">
  <a href="/admin" class="d-flex px-2 pt-3 my-3 link-dark text-decoration-none">
    <b>DASHBOARD</b>
  </a>
  <hr>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="<%= (page == "User")? "true":"flase" %>">
        Quản lý người dùng
      </button>
      <div class="collapse <%= (page == "User")? "show":"" %>" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/admin/account/" class="link-dark rounded">Tài khoản</a></li>
          <li><a href="/admin/school/" class="link-dark rounded">Trường học</a></li>
          <li><a href="/admin/student/" class="link-dark rounded">Sinh viên</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <a class="btn align-items-center rounded" href="/admin/transaction">Transaction</a>
    </li>
    <br />
  </ul>
</div>